/*---font---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
/*---reset-default-css---*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;
}
/*---layout---*/
body{
    /*background-color: rgba(0, 0, 0, 0.8);*/
    font-family: 'Poppins', sans-serif;
    
    background: rgb(25,25,25);
    background: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(19,15,64,1) 59%);

    color: rgba(255, 255, 255, 1);
}
.container{
    max-width: 968px;
    margin:auto;
}

.section:not(.section__start){
    padding: 5rem 0 0 0;
}

.section__title{
    font-size: 2.5rem; 
    color: rgba(255, 255, 255, 1); 
    text-align: center; 
    margin-bottom: 1.5rem;
}
.section__height{
    /*height: 90vh;*/
    min-height: 100vh;
}
/*---header---*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    z-index: 100;
    transition: 0.45;
}
/*---navbar---*/
.nav{
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color:pink;
    font-weight: 700;
    font-size: 1.25rem;
}
.nav__name{
    font-weight: 600;
}
.nav__icon{
  font-size: 1.5rem;
}
.nav__list,
.nav__link {
    display: flex;
    white-space: nowrap;
}
.nav__list{
    justify-content: space-around;
    column-gap: 3rem;
}
.nav__link{
    flex-direction: column;
    align-items: center;
    color: #fff;
    row-gap: 0.25rem; 
    transition: color .2s ease-in-out;
}
.nav__link:hover{
    color: rgb(181, 255, 185);
}
span.nav__icon{
    display: none;
}
/*cart icon*/
.cart-item{ 
    margin-right: 10px;
}
span.nav__icon.cart-icon{
    display: block;
    position: relative;
    z-index: 3;
}
.nav__link--cart{
    display: flex;
    flex-direction: row;
}
.cart-icon-counter{
    font-size: 1.1rem;
    position: absolute;
    top:-8px;
    left:100%;
    background-color: rgba(255, 0, 0, 1);
    width:24px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
/*------------------*/
.active__link{
    position: relative;
    color: #ffb0b0;
    transition: 0.3s;
}
/*#about{
    position: relative;
    z-index: 3;
}*/
.about{
    /*padding: 5rem 0 0 0 ;*/
}
/*_______catalog___________*/
.item{
    padding: 0 10px;
    width: 315px;
}
.item__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}
.item__wrapper img{
    width: 100%;
    /*max-height: 50%;*/
    max-width: 300px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    max-height: 180px;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.details p{
    padding: 0 10px;
}
.item .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding:10px;
}
.price-quantity{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.bi-plus-lg{
    background-color: red;
    padding: 5px 15px;

}

@media (min-width: 769px){
    .active__link::before{
        content: '';
        position: absolute;
        bottom: -0.4rem;
        width: 1rem;
        height: 3px;
        background-color: #ffb0b0;
        border-radius: 3px;
    }
}
@media (max-width: 992px){
    .container{
        margin:0 1rem;
    }
}
@media (max-width: 768px){
    .header{
        backdrop-filter: unset;
        background-color: rgba(18, 18, 18, 0.2);
    }	
    .nav__logo{
        display: none;
    }
    .nav__menu{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 0 0 1.25rem 1.25rem;
        transition: 0.4s;
        box-shadow: 0 -1px 12px rgba(59, 59, 59, 0.25);
    }
    .nav{
        height: 2rem;
    }
    span.nav__icon{
        display: block;
    }
    .nav__link--cart{
        flex-direction: column-reverse;
    }
    .cart-icon-counter{
        top:-4px;
        left:25px;
    }
    .section__title{
        font-size: 1.5rem;
    }
    .section:not(.section__start){
        padding: 2rem 0 0 0;
    }
    .about{
        padding: 3rem 0 0 0 ;
    }
}
@media (min-width: 576px){
    .nav__list{
        justify-content: center;
    }
}
@media (max-width: 576px){
    .contact__info{
        flex-direction: column;
    }
    .contacts__map{
        height: 250px;
    }
    
}

/*___CONTACT___*/
.contact__info{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding:10px 10px 20px 10px;
    margin:0 auto;
    display: flex;
    gap: 20px;
}
.contacts__items{
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width:970px;
    margin: 0 auto;
}
.contacts__map{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
    text-align: center;
}
.contacts__map iframe{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: 0.5rem;
}
.contacts__link{
    /*background-color: rgba(255, 255, 255, 0.9);*/
    display:flex;
    align-items: center;
    justify-content: baseline;
    gap:10px;
    padding: 5px;
    border-radius: 0.5rem;
    max-width: 200px;
    text-decoration:none;
    font-size: 20px;
    color: #fff;
    padding: 5px 7px;
    border:2px solid rgba(150, 150, 150, 0.5);
    transition: border 0.2s ease-in;
}
.contacts__link:hover{
    border:2px dashed rgba(255, 255, 255, 0.8);
}
.contacts__link:active{
    border:2px solid rgba(255, 255, 255, 1);
}
.phone-link{
    background-color: rgb(2, 153, 2);
    font-size: 17px;
}
.tg-link{
    background-color: rgb(0, 141, 184);
}
.viber-link{
    background-color: rgb(127, 0, 153);
}
.ws-link{
    background-color: rgb(44, 221, 0);
}
.ig-link{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.vk-link{
    background-color: rgb(0, 124, 161);
}
.store-link{
    background-color: rgb(184, 204, 0);
}

/*BG video*/
.overlay-text__container {
    position: relative;
  }
  .overlay-text__main {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .overlay-text__body {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 20px;
  }
  .overlay-text__button {
    margin: 0 auto;
}
  .overlay-text__button-btn {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 1px solid #fff;
    min-width: 180px;
    max-width: 200px;
    transition: all 0.3s ease 0s;
  }
  .overlay-text__button a {
    color: #fff;
  }

    .overlay-text__button:hover {
      background-color: #fff;
      cursor: pointer;
    }
    .overlay-text__button:hover .overlay-text__button-btn {
      color: #000;
    }
  
  .overlay-text__title {
    font-size: 60px;
    font-weight: 800;
  }
  .overlay-text__content {
    text-align: center;
  }

    .overlay-text__title {
    font-size: 35px;
    text-align: center;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.8), 
    0 1px 1px rgba(0, 0, 0, 0.8), 
    -1px 0 1px rgba(0, 0, 0, 0.8), 
    0 -1px 1px rgba(0, 0, 0, 0.8);
    }

.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.showcase__media {
    position: relative;
    width: 100%;
    height: 100%;
}
.showcase__media::before {
    content: "";
  /*  position: fixed;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 2;
}
.showcase__media-vid {
   /* position: fixed;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
}


/*________popup_________*/
.btn {
	border: none;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	padding: 10px;
}

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
    z-index: 20;
}
.modal {
    position: absolute;
	background-color: #fff;
    color:#000;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
	max-width: 600px;
    text-align: center;
    overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
    overflow-y: auto;
}
.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}
.modal--visible {
	display: block;
}
.stop-scroll{
    overflow: hidden;
}
/*------modal-video-styles*/
.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000000;
}
.video__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video__button-shape {
    fill: #212121;
    fill-opacity: 0.8;
}

.video__button-icon {
    fill: #ffffff;
}

.video__button:focus {
    outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
    fill: #ff0000;
    fill-opacity: 1;
}

/* Enabled */

.video--enabled {
    cursor: pointer;
}

.video--enabled .video__button {
    display: block;
}
/*------------------*/
.btn-close{
    position: absolute;
    right:0;
    top:0;
    padding: 5px;
    font-size: 18px;
    color:rgb(255, 179, 179);
    background-color: #000;
    border:none;
    border:1px solid rgb(255, 179, 179);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    z-index: 5;
}
.btn-close:hover{
    background-color: #464646;
}
.btn-close:focus{
    background-color: #a1a1a1;
}






